<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.project.food.shop.income.IIncomeDAO">

	<select id="search" parameterType="com.spring.project.food.shop.income.IncomeSearchDTO" 
		resultType="com.spring.project.food.shop.income.IncomeDTO">
	
		SELECT o.day, COUNT(o.order_num) as orders, SUM(total_price) as price, COUNT(o.delivery_cost) as delivery_cost
		FROM p_order o
		WHERE DAY BETWEEN to_date(#{day},'yyyy-MM-dd') AND to_date('2022-06-10','yyyy-MM-dd')+10
		GROUP BY day
		
	</select>
	

</mapper>